/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    

}

/* class clearfix per utilizzare float */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* dimensioni di ogni sezione header|top-main|bottom-main|footer */
.size-box{
    width: 80%;
    margin:0 auto;
}

/* header proprietà specifiche */
.container-header{
    height: 100px; 
    margin-top: 10px;
    margin-bottom: 40px;
}

/* main diviso in top e bottom */
.main-top{
   margin-bottom: 20px;
}

.main-bottom{
   width: 80%;
   margin: 0 auto 30px;
}

/* footer proprietà specifiche */
.container-footer{
   height: 50px;
   margin-bottom: 20px ;
}

/*  --- sections all'interno del bottom main --- */

/* proprietà delle boxes centrali */
.column{
    margin-bottom: 15px;
    float: left;
}

/* colonne laterali  */
.small-clm{
    width: 19%;
}

/* colonna centrale */
.big-clm{
    width: calc(62% - 20px);
    margin: 0px 10px 15px 10px;
}

/* proprietà "header" del bottom main */
.header-main-bottom{
    width:100%;
    float: left;
}

/* -------------------------   CONTENT LAYOUT   -------------------------------------  */

/* ----------- HEADER LIST-------------*/
ul{
    list-style: none;
}

li{
    display: inline-block;
    margin-right:5px;
    text-transform: uppercase;
    font-size: 13px;
}
/* ********************************************** */

/* _____FONT TITOLI DELLE 3 COLONNE________ */
h4{
    font-weight: 300;
    margin-bottom: 15px;
}

/*----------- MAIN IMAGE -------------- */
.relative{
    position: relative;
}

.absolute{
    position: absolute;
    left: 54px;
    bottom: 121px;
    color:white;
}

.text-over-big{
    font-size: 30px;
    font-weight: 300;
}


/* ___________TEXT-GREY__________*/
.font-grey{
    color:rgb(145, 144, 144);
}

/* -----------IMMAGINI DELLE 3 COLONNE----------- */
.img-aside{
    width:100%;
    height: 192.021px;
    filter: brightness(79%);
    border-radius: 15px;
    margin-bottom: 15px;
}

.img-center{
    width:100%;
    height: 192.021px;
    filter: brightness(79%);
    border-radius: 15px;
    margin-bottom:15px;
}
/* *************************** */

/* --------------FOOTER----------- */
.footer-text{
    text-align: center;
}
/* **************************** */

#red-heart{
    color: red;
    font-size: 20px;
}

/* ID IMMAGINE CENTARLE */
#main-image{
    width:100%;
    border-radius: 15px;
    filter: brightness(76%);
}


#logo-header{
    width: 146px;
    height: 60px;
    padding-right: 10px;
    border-right: 1px solid black;
    margin-bottom: 20px;
}

/* _____TITLE HEADER DEL MAIN BOTTOM______ */
#title-header{
    font-size: 30px;
}



